<!DOCTYPE html>
<html th:fragment="layout (title, content)" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title th:replace="${title}">레이아웃 타이틀</title>
</head>
<body>
<header>
    <div style="width:1400px; text-align:right;" th:if="${session.memberId==null}">
        <a class="btn btn-success" href="/member/login">로그인</a>
        <a class="btn btn-success" href="/member/join">회원가입</a>
    </div>
</header>
<div style="text-align: center;">
<a href="/"><img th:src="|/images/로고.png|"></a>
</div>
<div th:replace="${content}">
</div>
</body>
<style>
    .field-error {
        color: red;
    }

    .field-error-input {
        border-color: red;
    }
</style>
</html>